@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
}
#box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 75%;
  height: 70%;
}
header {
  margin-bottom: 20px;
  font-weight: 400;
}

.form {
  font-weight: 300;
  margin-top: 15px;
}
.form input {
  width: 100%;
  background: transparent;
  color: white;
  border: none;
  padding: 10px;
}

button {
  width: 13rem;
  height: 3.5rem;
  background: white;
  font-size: 1.4rem;
  margin-top: 20px;
}
button:hover {
  width: 13rem;
  height: 3.5rem;
  background: grey;
  font-size: 1.4rem;
  margin-top: 20px;
}
hr {
  margin-top: 10px;
  margin-bottom: 15px;
}
.success {
  margin-top: 0.2rem;
  color: #39ff14;
}
.error {
  color: #ff3131;
  margin-top: 0.2rem;
}
